@mixin containerFirstTitle {
    .container_first-title {
        font-family: "GilroyRegular";
        font-size: 18px;
        color: #ff9900;
        margin-bottom: 10px;
        letter-spacing: 9.7px;
    }
}

@mixin containerSecondTitle {
    .container_second-title {
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        color: #000000;
        margin-bottom: 30px;
        font-weight: normal;
    }
}

@mixin inputFormatting {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 3px;
    color: #ffffff;
    font-family: "GilroyRegular";
    font-weight: normal;
    font-size: 16px;
}
