@font-face {
  font-family: "GilroyRegular";
  src: url(fonts/GilroyRegular.woff) format("woff");
}
@font-face {
  font-family: "GilroyBlack";
  src: url(fonts/GilroyBlack.woff) format("woff");
}
@font-face {
  font-family: "GilroyBold";
  src: url(fonts/GilroyBold.woff) format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-contacts {
  display: flex;
  width: 100%;
  height: 54px;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.31);
  font-family: "GilroyRegular";
  font-size: 16px;
  position: relative;
  top: 0;
  left: 0;
}
.header-contacts .header-contacts__contacts {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}
.header-contacts .header-contacts__contacts .header-contacts__contacts_item {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s;
}
.header-contacts .header-contacts__contacts .header-contacts__contacts_item:hover {
  color: #ff9900;
  transition: all 0.3s;
}
.header-contacts .header-contacts__social {
  display: flex;
  width: 20%;
  justify-content: center;
}
.header-contacts .header-contacts__social .header-contacts__social_btn {
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: all 0.3s;
}
.header-contacts .header-contacts__social .hsb-linkedIn {
  background-image: url(images/linkedin-1.png);
}
.header-contacts .header-contacts__social .hsb-facebook {
  background-image: url(images/facebook-1.png);
}
.header-contacts .header-contacts__social .hsb-instagram {
  background-image: url(images/instagram-1.png);
}
.header-contacts .header-contacts__social .header-contacts__social_btn:hover {
  transition: all 0.3s;
  background-color: #ff9900;
  box-shadow: 0px 0px 10px 5px #ff9900;
  transform: scale(1.2);
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  z-index: 10;
  font-family: "GilroyRegular";
}
.header .header__logo {
  display: flex;
  width: 20%;
  justify-content: center;
}
.header .header__logo .header__logo_item {
  font-family: "GilroyBlack";
  font-size: 24px;
  color: #ff9900;
  text-decoration: none;
  transition: all 0.3s;
}
.header .header__logo .header__logo_item:hover {
  color: #ffffff;
  transition: all 0.3s;
  transform: scale(1.2);
}
.header .header__nav {
  display: flex;
  width: 55%;
  justify-content: space-evenly;
}
.header .header__nav .header__nav_item {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 2px solid transparent;
  padding-top: 4px;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.header .header__nav .header__nav_item:hover {
  color: #ff9900;
  border-bottom: 2px solid #ff9900;
  transition: all 0.3s;
}
.header .header__callback {
  display: flex;
  width: 25%;
  justify-content: center;
}
.header .header__callback .header__callback_btn {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
  padding: 10px 20px;
  font-size: 16px;
  transition: all 0.3s;
}
.header .header__callback .header__callback_btn:focus {
  outline: none;
}
.header .header__callback .header__callback_btn:hover {
  transition: all 0.3s;
  color: #ff9900;
  border: 2px solid #ff9900;
  cursor: pointer;
}

.cover {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 1014px;
  background-image: url(images/electrician-installer-with-tool-his-hands-working-with-cable-construction-site-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -10;
  margin-top: -152px;
}
.cover .cover__description {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: calc(100% - 169px);
  justify-content: center;
  align-items: flex-start;
}
.cover .cover__description .cover__description_title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #ffffff;
  font-weight: normal;
}
.cover .cover__description .cover__description_text {
  font-family: "GilroyRegular";
  font-size: 18xp;
  color: #ffffff;
  margin-top: 29px;
  line-height: 25px;
}
.cover .cover__description .cover__description_btn {
  display: flex;
  background: transparent;
  padding: 10px 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "GilroyBold";
  font-size: 16px;
  margin-top: 60px;
  transition: all 0.3s;
}
.cover .cover__description .cover__description_btn:focus {
  outline: none;
}
.cover .cover__description .cover__description_btn:hover {
  background-color: #ff9900;
  border: 2px solid #ff9900;
  transition: all 0.3s;
  cursor: pointer;
}
.cover .cover__features {
  display: flex;
  width: 100%;
  height: 169px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.cover .cover__features .cover__features_item {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cover .cover__features .cover__features_item .cfi_text {
  font-size: 20px;
  font-family: "GilroyRegular";
  color: #ffffff;
  max-width: 50%;
}
.cover .cover__features .cover__features_item .cfi_img {
  display: flex;
  height: 92px;
  width: 92px;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cover .cover__features .cover__features_item .cfi-business {
  background-image: url(images/business-1.png);
}
.cover .cover__features .cover__features_item .cfi-money-bag {
  background-image: url(images/money-bag-1.png);
}
.cover .cover__features .cover__features_item .cfi-business-report {
  background-image: url(images/business-report-1.png);
}
.cover .cover__features .cover__features_item .cfi-fast {
  background-image: url(images/fast-2.png);
}
.cover .cover__features .cover__features_item .cfi-guarantee {
  background-image: url(images/guarantee-1.png);
}

.about-us {
  display: flex;
  width: 100%;
}
.about-us .about-us__img {
  display: flex;
  width: 38%;
  background-image: url(images/charles-deluvio-c2thq3SXJiA-unsplash1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: flex-end;
}
.about-us .about-us__img .about-us__img_experience {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: fit-content;
  background-color: #ffb800;
  padding: 34px;
}
.about-us .about-us__img .about-us__img_experience .aie-digit {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  color: #ffffff;
}
.about-us .about-us__img .about-us__img_experience .aie-text {
  font-family: "GilroyRegular";
  font-size: 30px;
  color: #ffffff;
}
.about-us .about-us__description {
  display: flex;
  flex-direction: column;
  width: 62%;
  justify-content: center;
  align-items: flex-start;
  padding: 148px 187px;
  background-image: url(images/two-bedroom-x2--plan2.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 100%;
  background-position-y: 200%;
}
.about-us .about-us__description .container_first-title {
  font-family: "GilroyRegular";
  font-size: 18px;
  color: #ff9900;
  margin-bottom: 10px;
  letter-spacing: 9.7px;
}
.about-us .about-us__description .container_second-title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: normal;
}
.about-us .about-us__description .about-us__description_text {
  font-family: "GilroyRegular";
  font-size: 18px;
  color: #7c7c7c;
  line-height: 25px;
  margin-bottom: 25px;
}

.work-stages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #000000;
  padding: 65px 169px;
}
.work-stages .container_first-title {
  font-family: "GilroyRegular";
  font-size: 18px;
  color: #ff9900;
  margin-bottom: 10px;
  letter-spacing: 9.7px;
}
.work-stages .container_second-title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: normal;
}
.work-stages .work-stages__second-title {
  color: #ffffff;
}
.work-stages .work-stages__progressbar-container {
  display: flex;
  width: 100%;
  margin: 70px auto;
}
.work-stages .work-stages__progressbar-container .work-stages__progressbar-container_progressbar {
  display: flex;
  counter-reset: step;
  justify-content: space-evenly;
}
.work-stages .work-stages__progressbar-container .work-stages__progressbar-container_progressbar .wsp-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  color: #ffffff;
  width: 16%;
  font-family: "GilroyRegular";
  font-size: 14px;
  line-height: 19px;
  position: relative;
}
.work-stages .work-stages__progressbar-container .work-stages__progressbar-container_progressbar .wsp-item .progress-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  left: -3px;
  z-index: 2;
}
.work-stages .work-stages__progressbar-container .work-stages__progressbar-container_progressbar .wsp-item .progress-ring .progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.work-stages .work-stages__progressbar-container .work-stages__progressbar-container_progressbar .wsp-item:before {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  text-align: center;
  line-height: 55px;
  width: 66px;
  height: 66px;
  content: counter(step);
  counter-increment: step;
  border: 1px solid #ffffff;
  margin: 10px auto 10px 0;
  border-radius: 50%;
  background-color: black;
  z-index: 1;
}
.work-stages .work-stages__progressbar-container .work-stages__progressbar-container_progressbar .wsp-item:after {
  width: 100%;
  height: 1px;
  content: "";
  background-color: #ffffff;
  position: absolute;
  top: 44px;
  left: -80%;
}
.work-stages .work-stages__progressbar-container .work-stages__progressbar-container_progressbar .wsp-item:first-child:after {
  content: none;
}
.work-stages .work-stages__progressbar-container .work-stages__progressbar-container_progressbar .wsp-item:after {
  background-color: #ffffff;
}

.portfolio {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 100px 168px;
  background-image: url(images/two-bedroom-x2--plan-1.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 35%;
  background-position-y: 180%;
}
.portfolio .portfolio__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .portfolio__titles .container_first-title {
  font-family: "GilroyRegular";
  font-size: 18px;
  color: #ff9900;
  margin-bottom: 10px;
  letter-spacing: 9.7px;
}
.portfolio .portfolio__titles .container_second-title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: normal;
}
.portfolio .portfolio__works {
  display: flex;
  width: 100%;
}
.portfolio .portfolio__works .portfolio__works__description {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: "GilroyRegular";
  padding-right: 20px;
}
.portfolio .portfolio__works .portfolio__works__description .pwd-title {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 24px;
}
.portfolio .portfolio__works .portfolio__works__description .pwd-text {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}
.portfolio .portfolio__works .portfolio__works__description .pwd-text b {
  font-size: 18px;
}
.portfolio .portfolio__works .portfolio__works__description .pwd-text sup {
  font-size: 12px;
}
.portfolio .portfolio__works .portfolio__works__description .pwd-text:nth-child(3) {
  margin-bottom: 12px;
}
.portfolio .portfolio__works .portfolio__works__slider {
  display: flex;
  width: 50%;
}

.testimonials {
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url(images/handyman-uses-jackhammer-for-installation-professional-worker-on-the-construction-site-the-concept-of-electrician-and-handyman1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.testimonials .testimonials__slider {
  display: flex;
  width: 766px;
  height: 671px;
  backdrop-filter: blur(10px);
  align-items: center;
  flex-direction: column;
  padding: 0 100px 60px 100px;
  background-image: url(images/ddd.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: 90%;
  background-position-y: 50%;
}
.testimonials .testimonials__slider .container_first-title {
  font-family: "GilroyRegular";
  font-size: 18px;
  color: #ff9900;
  margin-bottom: 10px;
  letter-spacing: 9.7px;
}
.testimonials .testimonials__slider .container_second-title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: normal;
}
.testimonials .testimonials__slider .testimonials__slider_first-title {
  margin-top: 75px;
}
.testimonials .testimonials__slider .testimonials__slider_second-title {
  line-height: 55px;
  color: #ffffff;
  text-align: center;
  padding: 0 50px;
}
.testimonials .testimonials__slider .splide {
  display: flex;
  width: 100%;
  height: 100%;
}
.testimonials .testimonials__slider .splide .splide__list {
  height: 100%;
}
.testimonials .testimonials__slider .splide .splide__list .splide__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "GilroyRegular";
  color: #ffffff;
  text-align: center;
  padding-bottom: 40px;
}
.testimonials .testimonials__slider .splide .splide__list .splide__slide p {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 20px;
}
.testimonials .testimonials__slider .splide .splide__list .splide__slide h3 {
  font-family: "GilroyRegular";
  font-weight: normal;
  font-size: 20px;
}
.testimonials .testimonials__slider .splide .splide__arrows {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.testimonials .testimonials__slider .splide .splide__arrows .splide__arrow--next {
  right: -100px;
}
.testimonials .testimonials__slider .splide .splide__arrows .splide__arrow--prev {
  left: -100px;
}
.testimonials .testimonials__slider .splide .splide__arrows .splide__arrow {
  background: transparent;
  z-index: 2;
  transition: all 0.3s;
}
.testimonials .testimonials__slider .splide .splide__arrows .splide__arrow svg {
  width: 2.2em;
  height: 2.2em;
  fill: #ffffff;
}
.testimonials .testimonials__slider .splide .splide__arrows .splide__arrow:hover svg {
  fill: #ff9900;
  transition: all 0.3s;
}
.testimonials .testimonials__slider .splide .splide__pagination {
  bottom: 13px;
}
.testimonials .testimonials__slider .splide .splide__pagination .splide__pagination__page {
  width: 6px;
  height: 6px;
  margin: 0 10px;
}
.testimonials .testimonials__slider .splide .splide__pagination .is-active {
  background-color: #ff9900;
  width: 9px;
  height: 9px;
  margin-top: 6px;
}

.contact-us {
  display: flex;
  width: 100%;
  background-color: #ffb800;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.contact-us .contact-us__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 50px;
}
.contact-us .contact-us__form .container_first-title {
  font-family: "GilroyRegular";
  font-size: 18px;
  color: #ff9900;
  margin-bottom: 10px;
  letter-spacing: 9.7px;
}
.contact-us .contact-us__form .container_second-title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: normal;
}
.contact-us .contact-us__form .contact-us__form_first-title, .contact-us .contact-us__form .contact-us__form_second-title {
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: normal;
  margin-bottom: 10px;
}
.contact-us .contact-us__form .contact-us__form_row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.contact-us .contact-us__form .contact-us__form_row .cfr_sm-input {
  display: flex;
  width: 50%;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 3px;
  color: #ffffff;
  font-family: "GilroyRegular";
  font-weight: normal;
  font-size: 16px;
}
.contact-us .contact-us__form .contact-us__form_row .cfr_sm-input::placeholder {
  color: #ffffff;
}
.contact-us .contact-us__form .contact-us__form_row .cfr_sm-input:first-child {
  margin-right: 50px;
}
.contact-us .contact-us__form .contact-us__form_row .cfr_sm-input:last-child {
  margin-left: 50px;
}
.contact-us .contact-us__form .contact-us__form_row .cfr_lg-input {
  display: flex;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 3px;
  color: #ffffff;
  font-family: "GilroyRegular";
  font-weight: normal;
  font-size: 16px;
}
.contact-us .contact-us__form .contact-us__form_row .cfr_lg-input::placeholder {
  color: #ffffff;
}
.contact-us .contact-us__form .contact-us__form_sbmt-btn {
  display: flex;
  padding: 10px 20px;
  width: fit-content;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: all 0.3s;
}
.contact-us .contact-us__form .contact-us__form_sbmt-btn:hover {
  background-color: #ffffff;
  color: #ff9900;
  cursor: pointer;
  transition: all 0.3s;
}
.contact-us .contact-us__form .contact-us__form_sbmt-btn:focus, .contact-us .contact-us__form .cfr_sm-input:focus, .contact-us .contact-us__form .cfr_lg-input:focus {
  outline: none;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}
.footer .footer__contacts {
  display: flex;
  padding: 100px 150px;
  border-bottom: 1px solid #ffffff;
}
.footer .footer__contacts .footer__contacts_info {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.footer .footer__contacts .footer__contacts_info .fci_logo {
  font-family: "GilroyBlack";
  font-weight: normal;
  font-size: 24px;
  line-height: 80px;
  color: #ff9900;
  text-transform: uppercase;
}
.footer .footer__contacts .footer__contacts_info .fci_text {
  font-family: "GilroyRegular";
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.footer .footer__contacts .footer__contacts_menu {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  padding-left: 100px;
  align-items: flex-start;
}
.footer .footer__contacts .footer__contacts_menu .fcm_item {
  display: flex;
  color: #ffffff;
  font-family: "GilroyRegular";
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  line-height: 20px;
  margin: 10px;
  transition: all 0.3s;
  border: 1px solid transparent;
}
.footer .footer__contacts .footer__contacts_menu .fcm_item:hover {
  color: #ff9900;
  border-bottom: 1px solid #ff9900;
  transition: all 0.3s;
}
.footer .footer__contacts .footer__contacts_address {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  align-items: flex-start;
  padding-right: 100px;
}
.footer .footer__contacts .footer__contacts_address .fca_item {
  color: #ffffff;
  font-family: "GilroyRegular";
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  line-height: 20px;
  margin: 10px;
  transition: all 0.3s;
  border: 1px solid transparent;
}
.footer .footer__contacts .footer__contacts_address .fca_item span {
  font-family: "GilroyBold";
  font-weight: normal;
}
.footer .footer__contacts .footer__contacts_address .fca_item:hover {
  color: #ff9900;
  border-bottom: 1px solid #ff9900;
  transition: all 0.3s;
}
.footer .footer__contacts .footer__contacts_social {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 10%;
}
.footer .footer__contacts .footer__contacts_social .fcs_item {
  display: flex;
  background: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.3s;
}
.footer .footer__contacts .footer__contacts_social .fcs_instagram {
  background-image: url(images/instagram.png);
}
.footer .footer__contacts .footer__contacts_social .fcs_linkedin {
  background-image: url(images/linkedin.png);
}
.footer .footer__contacts .footer__contacts_social .fcs_facebook {
  background-image: url(images/facebook.png);
}
.footer .footer__contacts .footer__contacts_social .fcs_item:hover {
  background-color: #ff9900;
  box-shadow: 0px 0px 6px 3px #ff9900;
  transition: all 0.3s;
  transform: scale(1.5);
}
.footer .footer__contacts .footer__contacts_social .fcs_item:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
